<html>
    <%- include('layouts/head') %>
    <body style="background-color: #282828;">
    <%- include('layouts/header') %>

    <div>
        <h1 class="cart_heading"> Cart </h1>
    </div>
    <% if(products && session.cart.totalQty){ %>
        <div class="container">
            <table class="table table-responsive table-hover text-center">
                <tbody class="text-center">
                    <tr>
                        <td><p><b>PREVIEW</b></p></td>
                        <td><p><b>ITEM</b></p></td>
                        <td><p><b>PRICE</b></p></td>
                        <td><p><b>QUANTITY</b></p></td>
                        <td><p><b>TOTAL</b></p></td>
                        <td><p><b>
                            <a href="/clear-cart" 
                                class="fa fa-close" role='button' style="text-decoration: none; font-size: 15px; color: #ecbbaa; border: none;">
                            </a>
                        </b></p></td>
                    </tr>
                    <% products.forEach(function(prod){ %>
                    <tr>
                        <td><img src="/<%= prod.path %>" alt="image" style="width:40px;height:40px;"></td>
                        <td>
                            <a href="/details/<%- prod._id %>">
                                <p style="color: #ecbbaa;"><%= prod.name %></p>
                            </a>
                        </td>
                        <td><p>&#x20b9;<%= prod.price %></p></td>
                        <td><p>
                            <a href="/reduce/<%- prod._id %>" 
                                class="fa fa-minus" role='button' style="text-decoration: none; color: #ecbbaa;">
                            </a>
                            <%= prod.qty %>
                            <% if(prod.stock > 0){ %>
                                <a href="/add-to-cart/<%- prod._id %>"
                                    class="fa fa-plus" role='button' style="text-decoration: none; color: #ecbbaa; border: none;">
                                </a>
                            <% }else { %>
                                <button class="fa fa-plus" role='button' style="text-decoration: none; color: #ecbbaa; border: none;" disabled></button>
                            <% } %>
                        </p></td>
                        <td><p>&#x20b9;<%= prod.total %></p></td>
                        <td><p>
                            <a href="/remove-from-cart/<%- prod._id %>" 
                                class="fa fa-trash" role='button' style="text-decoration: none; color: #ecbbaa; border: none;">
                            </a>
                        </p></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    <% }else{ %>
        <p class="container-fluid" style="color: #ecbbaa;font-size: 20px;font-family: 'Roboto', sans-serif; text-align: center;">
            Your cart is empty. Add items to the cart to view it here.
        </p>
    <% } %>
    <% if(products && session.cart.totalQty){ %>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                    <form action="/checkout" method="POST" class="form-group text-right">
                        <input 
                            class="form-control" 
                            type="text" 
                            placeholder="Enter any personalized note here:)"
                            name="note"
                        >
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row checkout">
                <div class="col-sm-3 col-sm-offset-9 text-right">
                    <h4>Subtotal: <strong>&#x20b9;<%= totalPrice %></strong></h4>
                    <p>Shipping, taxes, and discount codes calculated at checkout.</p>
                    <a href="/checkout" 
                        class="btn btn-default" role='button' style="color: #282828; background-color: #ecbbaa; border: none;"> Check Out 
                    </a>
                </div>
            </div>
        </div>
    <% } %>
    
    <%- include('layouts/footer') %>
    <%- include('layouts/responsive') %> 
    </body>
</html>
