<!DOCTYPE html>
<html>
    <%- include('layouts/head') %>
    <body style="background-color: #282828;">
    <%- include('layouts/header') %>
          
    <p class="content"><%= user.firstName %>'s Profile %></p>
    
    <%- include('layouts/footer') %>
    <%- include('layouts/responsive') %> 
    </body>
</html>
