<html>
  <%- include('layouts/head') %>
  <body style="background-color: #282828;">
  <%- include('layouts/header') %>

  <p style="color: #ecbbaa;font-size: 20px;font-family: 'Roboto', sans-serif; text-align: center;">
    <%- product.name %> Detail Page
  </p>

    <%- include('layouts/footer') %>
    <%- include('layouts/responsive') %>
    </body>
</html>
