<!DOCTYPE html>
<html>
    <%- include('layouts/head') %>
    <body style="background-color: #282828;">
    <%- include('layouts/header') %>
    
        <!-- Sign up form -->
        <div class="container">
            <div class="row text-center" style="padding-top: 0px;">
                <div class="col-xs-4 col-xs-offset-4">
                        <div>
                            <h1 class="text-left signup_heading"> Sign Up </h1>
                            <br>
                        </div>
                    <%- include ('partials/messages.ejs') %>
                    <form action="/register" method="POST" class="form-style-8">
                        <div class="form-group">
                            <input 
                                class="form-control label_type" 
                                type="text" 
                                id="firstname"
                                placeholder="First Name" 
                                name="firstname"
                                value="<%=typeof firstname!='undefined' ? firstname : '' %>"
                            />
                        </div>
                        <div class="form-group">
                            <input 
                                class="form-control label_type " 
                                type="text" 
                                id="lastname"
                                placeholder="Last Name" 
                                name="lastname"
                                value="<%=typeof lastname!='undefined' ? lastname : '' %>"
                            />
                        </div> 
                        <div class="form-group">
                            <input 
                                class="form-control" 
                                type="email" 
                                id="email"
                                placeholder="E-mail" 
                                name="email"
                                value="<%=typeof email!='undefined' ? email : '' %>"
                            />
                        </div>    
                        <div class="form-group">
                            <input 
                                class="form-control" 
                                type="tel" 
                                id="contact"
                                placeholder="Contact" 
                                name="contact"
                                value="<%=typeof contact!='undefined' ? contact : '' %>"
                            />
                        </div>
                        <div class="form-group">
                            <input 
                                class="form-control" 
                                type="password"
                                id="password"
                                placeholder="Password" 
                                name="password"
                                value="<%=typeof password!='undefined' ? password : '' %>"
                            />
                        </div>
                        <div class="form-group">
                            <input 
                                class="form-control" 
                                type="password" 
                                id="password2"
                                placeholder="Confirm Password" 
                                name="password2"
                                value="<%=typeof password2!='undefined' ? password2 : '' %>"
                            />
                        </div>
                        
                        <br>
                        <div class='form-group'>
                            <button class="btn btn-primary text-left" style="float: left; color: #282828; background-color: #ecbbaa; border: none;">Submit</button><br><br>
                        </div>
                        <div class='form-group'>
                            <label class='label' style="float: left;"> Already have an account? <a href='/login' style='color: #ecbbaa; text-decoration: none; font-size: 12px;'> Sign In. </a><b/></label>
                        </div>
                    </form>
                        </div>
                    </div>
                </div>
        </div><br>
        
        <%- include('layouts/footer') %>
        <%- include('layouts/responsive') %>

    </body>
</html>
