<!DOCTYPE html>
<html>
  <%- include('../layouts/head') %>
  <body style="background-color: #282828;">
    <%- include('../layouts/header') %>
    <%- include('../layouts/items') %>
    <%- include('../layouts/footer') %>    
    <%- include('../layouts/responsive') %> 
  </body>
</html>